2017-11-11-14_FLOWS PI Büro.txt
[{"id":"e9811a41.fb90e8","type":"tab","label":"Visualisierung","disabled":false,"info":""},{"id":"600420da.cc22e","type":"tab","label":"History","disabled":true,"info":""},{"id":"e1ed6521.a58568","type":"tab","label":"Flow 1"},{"id":"77790199.41f2f8","type":"tab","label":"Flow 2"},{"id":"8b92bc52.7e5ef8","type":"mqtt-broker","z":"","broker":"192.168.2.30","port":"1883","clientid":"RPI3","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"9b6fae77.3a972","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#808080","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":4,"gy":4,"cx":4,"cy":4,"px":2,"py":2}}},{"id":"6a705af9.d4670c","type":"ui_tab","z":"","name":"Waschküche","icon":"pan_tool","order":1},{"id":"68c4716f.60f278","type":"ui_group","z":"","name":"Waschmaschine","tab":"6a705af9.d4670c","order":2,"disp":true,"width":"9"},{"id":"e05b05a8.40b8e8","type":"ui_group","z":"","name":"Trockner","tab":"6a705af9.d4670c","order":3,"disp":true,"width":"9"},{"id":"e2362c2b.e80af8","type":"ui_tab","z":"","name":"History","icon":"dashboard","order":2},{"id":"a1cacf91.8de218","type":"ui_group","z":"","name":"History","tab":"e2362c2b.e80af8","order":1,"disp":true,"width":"18"},{"id":"4c6d80d0.7b2028","type":"influxdb","z":"","hostname":"192.168.2.30","port":"8086","protocol":"http","database":"Pi","name":"DB_PI_Test","usetls":false,"tls":""},{"id":"4f5abf30.2e6be8","type":"ui_group","z":"","name":"Col1","tab":"fd8bd30a.5bf248","order":1,"disp":false,"width":"6"},{"id":"e242048e.c58c48","type":"ui_group","z":"","name":"Actions","tab":"fd8bd30a.5bf248","order":4,"disp":true,"width":"6"},{"id":"296cdb4d.1a56cc","type":"ui_group","z":"","name":"Col2","tab":"fd8bd30a.5bf248","order":2,"disp":false,"width":"6"},{"id":"f2bcac72.ff15e","type":"ui_group","z":"","name":"Col3","tab":"fd8bd30a.5bf248","order":3,"disp":false,"width":"6"},{"id":"fd8bd30a.5bf248","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1},{"id":"700f7f0c.ab1f2","type":"mqtt in","z":"e9811a41.fb90e8","name":"Trocknen","topic":"Trocknen","qos":"2","broker":"8b92bc52.7e5ef8","x":100,"y":100,"wires":[["fc51d812.b24ad"]]},{"id":"a9f402f.e1e9c8","type":"comment","z":"e9811a41.fb90e8","name":"Trockner","info":"","x":100,"y":40,"wires":[]},{"id":"e5e340e1.c1edd","type":"mqtt in","z":"e9811a41.fb90e8","name":"Mangelfeucht","topic":"Mangelfeucht","qos":"2","broker":"8b92bc52.7e5ef8","x":110,"y":140,"wires":[["f9f45c64.00da38"]]},{"id":"e76a930d.25b9c","type":"mqtt in","z":"e9811a41.fb90e8","name":"Bügelfeucht","topic":"Bügelfeucht","qos":"2","broker":"8b92bc52.7e5ef8","x":110,"y":180,"wires":[["33f9ec6a.9c606c"]]},{"id":"504c618b.43a09","type":"mqtt in","z":"e9811a41.fb90e8","name":"Schranktrocken","topic":"Schranktrocken","qos":"2","broker":"8b92bc52.7e5ef8","x":120,"y":220,"wires":[["6869231a.9e4614"]]},{"id":"d0549613.75fd28","type":"mqtt in","z":"e9811a41.fb90e8","name":"Kaltluft","topic":"Kaltluft","qos":"2","broker":"8b92bc52.7e5ef8","x":90,"y":260,"wires":[["719ccbcb.ff1344"]]},{"id":"a45398c0.4a64b8","type":"mqtt in","z":"e9811a41.fb90e8","name":"Knitterschutz Ende","topic":"Knitterschutz Ende","qos":"2","broker":"8b92bc52.7e5ef8","x":130,"y":300,"wires":[["7f70da3a.58e55c","9b929d49.9fd93"]]},{"id":"b5892d18.8a40e","type":"mqtt in","z":"e9811a41.fb90e8","name":"Ein","topic":"Ein","qos":"2","broker":"8b92bc52.7e5ef8","x":90,"y":680,"wires":[["d9d75214.6d0978"]]},{"id":"421b4eb0.55a9e","type":"mqtt in","z":"e9811a41.fb90e8","name":"Vorwäsche","topic":"Vorwäsche","qos":"2","broker":"8b92bc52.7e5ef8","x":100,"y":720,"wires":[["92e9d445.248078"]]},{"id":"e52d514f.88b3d8","type":"mqtt in","z":"e9811a41.fb90e8","name":"Hauptwäsche","topic":"Hauptwäsche","qos":"2","broker":"8b92bc52.7e5ef8","x":110,"y":760,"wires":[["c805658c.8fad9"]]},{"id":"de893b94.1ff658","type":"mqtt in","z":"e9811a41.fb90e8","name":"Spülen Spülstop","topic":"Spülen Spülstop","qos":"2","broker":"8b92bc52.7e5ef8","x":120,"y":800,"wires":[["84dede80.60909"]]},{"id":"4845470f.94c44","type":"comment","z":"e9811a41.fb90e8","name":"Waschmaschine","info":"","x":120,"y":620,"wires":[]},{"id":"30afa41e.24490c","type":"mqtt in","z":"e9811a41.fb90e8","name":"Pumpen Endschleudern","topic":"Pumpen Endschleudern","qos":"2","broker":"8b92bc52.7e5ef8","x":140,"y":840,"wires":[["72cbf894.7431d8"]]},{"id":"e6f27103.2175c","type":"mqtt in","z":"e9811a41.fb90e8","name":"Ende","topic":"Ende","qos":"2","broker":"8b92bc52.7e5ef8","x":90,"y":880,"wires":[["497b5663.8cf768","54c802e6.cae744"]]},{"id":"b2fd07e1.eb54e8","type":"http request","z":"e9811a41.fb90e8","name":"Waschmaschine IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Waschmaschine/with/key/hlieaisDO-qTgdBMikQmkEG_TB0pIrcsYkGySw7FQIx","tls":"","x":560,"y":920,"wires":[[]]},{"id":"37bcfee3.363f5a","type":"http request","z":"e9811a41.fb90e8","name":"Trockner IFTTT","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/Trockner/with/key/hlieaisDO-qTgdBMikQmkEG_TB0pIrcsYkGySw7FQIx","tls":"","x":560,"y":340,"wires":[["65a44a60.44581c"]]},{"id":"497b5663.8cf768","type":"switch","z":"e9811a41.fb90e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":330,"y":980,"wires":[["b2fd07e1.eb54e8","eaf1ca24.279bb8"],["f46fc336.af3598"]],"outputLabels":["1",""]},{"id":"7f70da3a.58e55c","type":"switch","z":"e9811a41.fb90e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":350,"y":340,"wires":[["37bcfee3.363f5a","c2620d02.cb9148"],["42adffa4.1b8368"]],"outputLabels":["1",""]},{"id":"fc51d812.b24ad","type":"ui_chart","z":"e9811a41.fb90e8","name":"Trocknen","group":"e05b05a8.40b8e8","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":540,"y":100,"wires":[[],[]]},{"id":"f9f45c64.00da38","type":"ui_chart","z":"e9811a41.fb90e8","name":"Mangelfeucht","group":"e05b05a8.40b8e8","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":560,"y":140,"wires":[[],[]]},{"id":"33f9ec6a.9c606c","type":"ui_chart","z":"e9811a41.fb90e8","name":"Bügelfeucht","group":"e05b05a8.40b8e8","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":550,"y":180,"wires":[[],[]]},{"id":"6869231a.9e4614","type":"ui_chart","z":"e9811a41.fb90e8","name":"Schranktrocken","group":"e05b05a8.40b8e8","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":560,"y":220,"wires":[[],[]]},{"id":"719ccbcb.ff1344","type":"ui_chart","z":"e9811a41.fb90e8","name":"Kaltluft","group":"e05b05a8.40b8e8","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":540,"y":260,"wires":[[],[]]},{"id":"9b929d49.9fd93","type":"ui_chart","z":"e9811a41.fb90e8","name":"Knitterschutz Ende","group":"e05b05a8.40b8e8","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":570,"y":300,"wires":[[],[]]},{"id":"d9d75214.6d0978","type":"ui_chart","z":"e9811a41.fb90e8","name":"Ein","group":"68c4716f.60f278","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":510,"y":680,"wires":[[],[]]},{"id":"92e9d445.248078","type":"ui_chart","z":"e9811a41.fb90e8","name":"Vorwäsche","group":"68c4716f.60f278","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":530,"y":720,"wires":[[],[]]},{"id":"c805658c.8fad9","type":"ui_chart","z":"e9811a41.fb90e8","name":"Hauptwäsche","group":"68c4716f.60f278","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":540,"y":760,"wires":[[],[]]},{"id":"84dede80.60909","type":"ui_chart","z":"e9811a41.fb90e8","name":"Spülen Spülstop","group":"68c4716f.60f278","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":540,"y":800,"wires":[[],[]]},{"id":"72cbf894.7431d8","type":"ui_chart","z":"e9811a41.fb90e8","name":"Pumpen Endschleudern","group":"68c4716f.60f278","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":570,"y":840,"wires":[[],[]]},{"id":"54c802e6.cae744","type":"ui_chart","z":"e9811a41.fb90e8","name":"Ende","group":"68c4716f.60f278","order":11,"width":"3","height":"4","label":"{{msg.topic}}","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":510,"y":880,"wires":[[],[]]},{"id":"dbe82e2f.56181","type":"ui_text","z":"e9811a41.fb90e8","group":"e05b05a8.40b8e8","order":0,"width":"9","height":"2","name":"Benachrichtigungszeile","label":"","format":"{{msg.payload}}","layout":"row-left","x":810,"y":380,"wires":[]},{"id":"c2620d02.cb9148","type":"change","z":"e9811a41.fb90e8","name":"Change to Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Trockner ist fertig!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[["dbe82e2f.56181"]]},{"id":"65a44a60.44581c","type":"ui_toast","z":"e9811a41.fb90e8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":790,"y":340,"wires":[]},{"id":"42adffa4.1b8368","type":"change","z":"e9811a41.fb90e8","name":"Change to Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":420,"wires":[["dbe82e2f.56181"]]},{"id":"eaf1ca24.279bb8","type":"change","z":"e9811a41.fb90e8","name":"Change to Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Waschmaschine ist fertig!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":960,"wires":[["1b69127c.134e6e"]]},{"id":"f46fc336.af3598","type":"change","z":"e9811a41.fb90e8","name":"Change to Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1000,"wires":[["1b69127c.134e6e"]]},{"id":"1b69127c.134e6e","type":"ui_text","z":"e9811a41.fb90e8","group":"68c4716f.60f278","order":0,"width":"9","height":"2","name":"Benachrichtigungszeile","label":"","format":"{{msg.payload}}","layout":"row-left","x":810,"y":1000,"wires":[]},{"id":"17acd689.0f2219","type":"ui_chart","z":"600420da.cc22e","name":"History Trockner","group":"a1cacf91.8de218","order":1,"width":0,"height":0,"label":"History Trockner","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":1520,"y":320,"wires":[[],[]]},{"id":"5b7deb95.ce23dc","type":"ui_chart","z":"600420da.cc22e","name":"History Waschmaschine","group":"a1cacf91.8de218","order":2,"width":0,"height":0,"label":"History Waschmaschine","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":1550,"y":900,"wires":[[],[]]},{"id":"cf731b92.ffd4a8","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":100,"wires":[["17acd689.0f2219"]]},{"id":"9ece7d09.f11e","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":140,"wires":[["17acd689.0f2219"]]},{"id":"165e6388.ea68bc","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":180,"wires":[["17acd689.0f2219"]]},{"id":"787ef5bf.e41ccc","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":220,"wires":[["17acd689.0f2219"]]},{"id":"1f6e5b8d.beeae4","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":260,"wires":[["17acd689.0f2219"]]},{"id":"3f989a4.854e366","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":300,"wires":[["17acd689.0f2219"]]},{"id":"dc612e6d.397eb8","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":340,"wires":[["17acd689.0f2219"]]},{"id":"65c0fcfd.812ccc","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":380,"wires":[["17acd689.0f2219"]]},{"id":"2eac63a5.2582bc","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":420,"wires":[["17acd689.0f2219"]]},{"id":"84575a38.85df3","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":460,"wires":[["17acd689.0f2219"]]},{"id":"834572e0.464ed","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":500,"wires":[["17acd689.0f2219"]]},{"id":"eb2236e4.261e7","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":540,"wires":[["17acd689.0f2219"]]},{"id":"17b23b3e.64146d","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":680,"wires":[["5b7deb95.ce23dc"]]},{"id":"a9b8054f.4968f8","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":720,"wires":[["5b7deb95.ce23dc"]]},{"id":"3ba42052.5b52c","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":760,"wires":[["5b7deb95.ce23dc"]]},{"id":"595a0ba3.799854","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":800,"wires":[["5b7deb95.ce23dc"]]},{"id":"659e81fa.c860a","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":840,"wires":[["5b7deb95.ce23dc"]]},{"id":"860c11b7.6ca1","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":880,"wires":[["5b7deb95.ce23dc"]]},{"id":"7df20fff.f268d","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":920,"wires":[["5b7deb95.ce23dc"]]},{"id":"1b54b278.81c686","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":960,"wires":[["5b7deb95.ce23dc"]]},{"id":"491f610c.e5b5e","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":1000,"wires":[["5b7deb95.ce23dc"]]},{"id":"e9b7c53b.3005d","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":1040,"wires":[["5b7deb95.ce23dc"]]},{"id":"11420fa5.adf3f","type":"trigger","z":"600420da.cc22e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"0","name":"","x":1300,"y":1080,"wires":[["5b7deb95.ce23dc"]]},{"id":"8c31b0cf.59e628","type":"trigger","z":"600420da.cc22e","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"1","name":"","x":1300,"y":1120,"wires":[["5b7deb95.ce23dc"]]},{"id":"91a82bae.7afc88","type":"mqtt in","z":"600420da.cc22e","name":"Ein","topic":"Ein","qos":"2","broker":"8b92bc52.7e5ef8","x":330,"y":760,"wires":[["17b23b3e.64146d","a9b8054f.4968f8"]]},{"id":"7dbe9522.04e144","type":"mqtt in","z":"600420da.cc22e","name":"Vorwäsche","topic":"Vorwäsche","qos":"2","broker":"8b92bc52.7e5ef8","x":340,"y":800,"wires":[["3ba42052.5b52c","595a0ba3.799854"]]},{"id":"1398e6e1.fc02e9","type":"mqtt in","z":"600420da.cc22e","name":"Hauptwäsche","topic":"Hauptwäsche","qos":"2","broker":"8b92bc52.7e5ef8","x":350,"y":840,"wires":[["659e81fa.c860a","860c11b7.6ca1"]]},{"id":"eb7d4552.7a524","type":"mqtt in","z":"600420da.cc22e","name":"Spülen Spülstop","topic":"Spülen Spülstop","qos":"2","broker":"8b92bc52.7e5ef8","x":360,"y":880,"wires":[["7df20fff.f268d","1b54b278.81c686"]]},{"id":"5e5203dd.c53434","type":"mqtt in","z":"600420da.cc22e","name":"Pumpen Endschleudern","topic":"Pumpen Endschleudern","qos":"2","broker":"8b92bc52.7e5ef8","x":380,"y":920,"wires":[["491f610c.e5b5e","e9b7c53b.3005d"]]},{"id":"5b456b8a.b5bb14","type":"mqtt in","z":"600420da.cc22e","name":"Ende","topic":"Ende","qos":"2","broker":"8b92bc52.7e5ef8","x":330,"y":960,"wires":[["11420fa5.adf3f","8c31b0cf.59e628"]]},{"id":"8fe0fb39.2a8de8","type":"mqtt in","z":"600420da.cc22e","name":"Trocknen","topic":"Trocknen","qos":"2","broker":"8b92bc52.7e5ef8","x":340,"y":180,"wires":[["cf731b92.ffd4a8","9ece7d09.f11e"]]},{"id":"8fbc463b.a3919","type":"mqtt in","z":"600420da.cc22e","name":"Mangelfeucht","topic":"Mangelfeucht","qos":"2","broker":"8b92bc52.7e5ef8","x":350,"y":220,"wires":[["165e6388.ea68bc","787ef5bf.e41ccc"]]},{"id":"21aa4b80.4596fc","type":"mqtt in","z":"600420da.cc22e","name":"Bügelfeucht","topic":"Bügelfeucht","qos":"2","broker":"8b92bc52.7e5ef8","x":350,"y":260,"wires":[["1f6e5b8d.beeae4","3f989a4.854e366"]]},{"id":"f443cb9d.5b572","type":"mqtt in","z":"600420da.cc22e","name":"Schranktrocken","topic":"Schranktrocken","qos":"2","broker":"8b92bc52.7e5ef8","x":360,"y":300,"wires":[["dc612e6d.397eb8","65c0fcfd.812ccc"]]},{"id":"93a940d6.1087","type":"mqtt in","z":"600420da.cc22e","name":"Kaltluft","topic":"Kaltluft","qos":"2","broker":"8b92bc52.7e5ef8","x":330,"y":340,"wires":[["2eac63a5.2582bc","84575a38.85df3"]]},{"id":"8f3c42f9.b681c","type":"mqtt in","z":"600420da.cc22e","name":"Knitterschutz Ende","topic":"Knitterschutz Ende","qos":"2","broker":"8b92bc52.7e5ef8","x":370,"y":380,"wires":[["834572e0.464ed","eb2236e4.261e7"]]},{"id":"93b41237.ea1a98","type":"comment","z":"600420da.cc22e","name":"Trockner","info":"","x":340,"y":120,"wires":[]},{"id":"804f5992.40c638","type":"comment","z":"600420da.cc22e","name":"Waschmaschine","info":"","x":360,"y":700,"wires":[]},{"id":"468e5b37.96538c","type":"influxdb out","z":"e1ed6521.a58568","influxdb":"4c6d80d0.7b2028","name":"cpu_temp","measurement":"cpu_temp","precision":"","retentionPolicy":"","x":640,"y":60,"wires":[]},{"id":"42241f13.be61a8","type":"ui_gauge","z":"e1ed6521.a58568","name":"","group":"4f5abf30.2e6be8","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":650,"y":100,"wires":[]},{"id":"37beafb1.186d68","type":"exec","z":"e1ed6521.a58568","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":290,"y":100,"wires":[["12066643.4c4bd2"],[],[]]},{"id":"783cff95.f1f1b","type":"inject","z":"e1ed6521.a58568","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":84.5,"y":108.25,"wires":[["37beafb1.186d68","13551743.d05329","307fe685.f43ac2"]]},{"id":"12066643.4c4bd2","type":"function","z":"e1ed6521.a58568","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["42241f13.be61a8","39823b2.fcecf44","468e5b37.96538c","a8c24f47.c8b8d8"]]},{"id":"c415ff55.a3565","type":"ui_button","z":"e1ed6521.a58568","name":"","group":"e242048e.c58c48","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":480,"wires":[["dd33e310.c7eb3"]]},{"id":"dd33e310.c7eb3","type":"exec","z":"e1ed6521.a58568","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":278,"y":480,"wires":[[],[],[]]},{"id":"6acb892d.9f0bc","type":"ui_button","z":"e1ed6521.a58568","name":"","group":"e242048e.c58c48","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":520,"wires":[["e545b428.6d12c8"]]},{"id":"e545b428.6d12c8","type":"exec","z":"e1ed6521.a58568","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":289.5,"y":542.25,"wires":[[],[],[]]},{"id":"39823b2.fcecf44","type":"ui_chart","z":"e1ed6521.a58568","name":"","group":"4f5abf30.2e6be8","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":650,"y":140,"wires":[[],[]]},{"id":"13551743.d05329","type":"exec","z":"e1ed6521.a58568","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":290,"y":180,"wires":[["3b33ccac.7c24f4","b8407b34.a9c978"],[],[]]},{"id":"307fe685.f43ac2","type":"exec","z":"e1ed6521.a58568","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":290,"y":260,"wires":[["b46b52bc.8f011"],[],[]]},{"id":"3b33ccac.7c24f4","type":"ui_gauge","z":"e1ed6521.a58568","name":"","group":"4f5abf30.2e6be8","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":640,"y":180,"wires":[]},{"id":"b46b52bc.8f011","type":"ui_gauge","z":"e1ed6521.a58568","name":"","group":"296cdb4d.1a56cc","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":650,"y":260,"wires":[]},{"id":"4a343a4.75ab3c4","type":"exec","z":"e1ed6521.a58568","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":290,"y":340,"wires":[["170f26c.04dcd59"],[],[]]},{"id":"f0d66f96.9711b8","type":"ui_gauge","z":"e1ed6521.a58568","name":"","group":"f2bcac72.ff15e","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":650,"y":340,"wires":[]},{"id":"170f26c.04dcd59","type":"function","z":"e1ed6521.a58568","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["f0d66f96.9711b8"]]},{"id":"dab8e3ff.b50758","type":"inject","z":"e1ed6521.a58568","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":90,"y":340,"wires":[["4a343a4.75ab3c4"]]},{"id":"a8c24f47.c8b8d8","type":"debug","z":"e1ed6521.a58568","name":"","active":true,"console":"false","complete":"false","x":640,"y":40,"wires":[]},{"id":"9700a3d8.ca6678","type":"influxdb in","z":"77790199.41f2f8","influxdb":"4c6d80d0.7b2028","name":"","query":"select * FROM \"cpu_temp\"","rawOutput":true,"precision":"","retentionPolicy":"","x":400,"y":200,"wires":[["ecd2f8ea.26443"]]},{"id":"be2e270a.6b1268","type":"inject","z":"77790199.41f2f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["9700a3d8.ca6678"]]},{"id":"ecd2f8ea.26443","type":"debug","z":"77790199.41f2f8","name":"","active":true,"console":"false","complete":"false","x":500,"y":220,"wires":[]},{"id":"b8407b34.a9c978","type":"influxdb out","z":"e1ed6521.a58568","influxdb":"4c6d80d0.7b2028","name":"cpu_load","measurement":"cpu_load","precision":"","retentionPolicy":"","x":640,"y":220,"wires":[]}]