2017-11-11-14_FLOWS PI Waschküche.txt
[{"id":"23943c4f.c85da4","type":"tab","label":"GPIO to MQTT","disabled":false,"info":""},{"id":"4a445b2c.06a9fc","type":"tab","label":"Set Chart Names","disabled":false,"info":""},{"id":"a5d864c8.237f9","type":"tab","label":"Flow 1"},{"id":"9c07e8a.6941b98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87f2abcd.4d12e8","type":"mqtt-broker","z":"","broker":"192.168.2.30","port":"1883","clientid":"RaspberryPi2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"4e44d4bc.7b3b9c","type":"ui_group","z":"","name":"Actions","tab":"f8af382d.104508","order":4,"disp":true,"width":"6"},{"id":"f8af382d.104508","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1},{"id":"9d99596b.8ab32","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Trocknen","pin":"7","intype":"down","debounce":"25","read":true,"x":80,"y":80,"wires":[["8cb156a9.76d7d"]]},{"id":"33ad70a8.53a848","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Mangelfeucht","pin":"11","intype":"down","debounce":"25","read":true,"x":90,"y":140,"wires":[["666acfd3.45a878"]]},{"id":"cab0b20e.121088","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Bügelfeucht","pin":"13","intype":"down","debounce":"25","read":true,"x":90,"y":200,"wires":[["beb21ede.f1411"]]},{"id":"67fb3c93.bea834","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Schranktrocken","pin":"15","intype":"down","debounce":"25","read":true,"x":100,"y":260,"wires":[["49ddbf78.8a4d3"]]},{"id":"18958f12.9964b1","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Kaltluft","pin":"29","intype":"down","debounce":"25","read":true,"x":70,"y":320,"wires":[["7b7ece5c.b58c48"]]},{"id":"16c74202.d917b6","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Knitterschutz / ENDE","pin":"31","intype":"down","debounce":"200","read":true,"x":120,"y":380,"wires":[["df030aee.541e98"]]},{"id":"a8ec52cf.ebe05","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"EIN","pin":"12","intype":"down","debounce":"25","read":true,"x":70,"y":480,"wires":[["4aacf80.8a5a488"]]},{"id":"91532c52.893c3","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Vorwäsche","pin":"16","intype":"down","debounce":"25","read":true,"x":80,"y":540,"wires":[["8bf69db4.f5da3"]]},{"id":"80530c27.c51278","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Hauptwäsche","pin":"18","intype":"down","debounce":"25","read":true,"x":90,"y":600,"wires":[["47fd8c37.feb854"]]},{"id":"40123382.017cc4","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Spülen/Spülstop","pin":"22","intype":"down","debounce":"25","read":true,"x":100,"y":660,"wires":[["6cdbe812.0bb928"]]},{"id":"a5f0943a.be2d58","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"Pumpen/Endschleudern","pin":"32","intype":"down","debounce":"25","read":true,"x":130,"y":720,"wires":[["99495dbf.a4932"]]},{"id":"2b305228.38d426","type":"rpi-gpio in","z":"23943c4f.c85da4","name":"ENDE","pin":"36","intype":"down","debounce":"25","read":true,"x":70,"y":780,"wires":[["7c1b59d0.e51cd"]]},{"id":"8cb156a9.76d7d","type":"trigger","z":"23943c4f.c85da4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":true,"units":"s","reset":"","name":"","x":340,"y":80,"wires":[["6c25d8d6.57b188"]]},{"id":"666acfd3.45a878","type":"trigger","z":"23943c4f.c85da4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":true,"units":"s","reset":"","name":"","x":340,"y":140,"wires":[["3fafca53.a0f6be"]]},{"id":"beb21ede.f1411","type":"trigger","z":"23943c4f.c85da4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":true,"units":"s","reset":"","name":"","x":340,"y":200,"wires":[["c5d6da06.2d3ea8"]]},{"id":"49ddbf78.8a4d3","type":"trigger","z":"23943c4f.c85da4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":true,"units":"s","reset":"","name":"","x":340,"y":260,"wires":[["da647c4a.29c778"]]},{"id":"7b7ece5c.b58c48","type":"trigger","z":"23943c4f.c85da4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":true,"units":"s","reset":"","name":"","x":340,"y":320,"wires":[["ef9fa85.c853ad8"]]},{"id":"df030aee.541e98","type":"trigger","z":"23943c4f.c85da4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":true,"units":"s","reset":"","name":"","x":340,"y":380,"wires":[["3b2b3680.9fdea2"]]},{"id":"6c25d8d6.57b188","type":"mqtt out","z":"23943c4f.c85da4","name":"Trocknen","topic":"Trocknen","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":560,"y":80,"wires":[]},{"id":"6cdbe812.0bb928","type":"mqtt out","z":"23943c4f.c85da4","name":"Spülen Spülstop","topic":"Spülen Spülstop","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":580,"y":660,"wires":[]},{"id":"39a04ad8.8d63fe","type":"comment","z":"23943c4f.c85da4","name":"Trockner","info":"","x":80,"y":40,"wires":[]},{"id":"885621b3.e44558","type":"comment","z":"23943c4f.c85da4","name":"Waschmaschine","info":"","x":100,"y":440,"wires":[]},{"id":"3fafca53.a0f6be","type":"mqtt out","z":"23943c4f.c85da4","name":"Mangelfeucht","topic":"Mangelfeucht","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":580,"y":140,"wires":[]},{"id":"c5d6da06.2d3ea8","type":"mqtt out","z":"23943c4f.c85da4","name":"Bügelfeucht","topic":"Bügelfeucht","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":570,"y":200,"wires":[]},{"id":"da647c4a.29c778","type":"mqtt out","z":"23943c4f.c85da4","name":"Schranktrocken","topic":"Schranktrocken","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":580,"y":260,"wires":[]},{"id":"ef9fa85.c853ad8","type":"mqtt out","z":"23943c4f.c85da4","name":"Kaltluft","topic":"Kaltluft","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":560,"y":320,"wires":[]},{"id":"3b2b3680.9fdea2","type":"mqtt out","z":"23943c4f.c85da4","name":"Knitterschutz Ende","topic":"Knitterschutz Ende","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":590,"y":380,"wires":[]},{"id":"4aacf80.8a5a488","type":"mqtt out","z":"23943c4f.c85da4","name":"Ein","topic":"Ein","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":550,"y":480,"wires":[]},{"id":"8bf69db4.f5da3","type":"mqtt out","z":"23943c4f.c85da4","name":"Vorwäsche","topic":"Vorwäsche","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":570,"y":540,"wires":[]},{"id":"47fd8c37.feb854","type":"mqtt out","z":"23943c4f.c85da4","name":"Hauptwäsche","topic":"Hauptwäsche","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":580,"y":600,"wires":[]},{"id":"99495dbf.a4932","type":"mqtt out","z":"23943c4f.c85da4","name":"Pumpen Endschleudern","topic":"Pumpen Endschleudern","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":610,"y":720,"wires":[]},{"id":"7c1b59d0.e51cd","type":"mqtt out","z":"23943c4f.c85da4","name":"Ende","topic":"Ende","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":550,"y":780,"wires":[]},{"id":"353ae074.90e3a8","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Trocknen","topic":"Trocknen","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":460,"y":80,"wires":[]},{"id":"17e094e1.0e6b43","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Mangelfeucht","topic":"Mangelfeucht","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":480,"y":120,"wires":[]},{"id":"aa1f0a41.cfcff","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Bügelfeucht","topic":"Bügelfeucht","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":470,"y":160,"wires":[]},{"id":"b7590a86.dc16c8","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Schranktrocken","topic":"Schranktrocken","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":480,"y":200,"wires":[]},{"id":"8a6e7240.68768","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Kaltluft","topic":"Kaltluft","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":460,"y":240,"wires":[]},{"id":"159c1c80.7d035c","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Knitterschutz Ende","topic":"Knitterschutz Ende","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":490,"y":280,"wires":[]},{"id":"61f37646.d4b488","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Ein","topic":"Ein","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":450,"y":320,"wires":[]},{"id":"6a1015b8.74ba2c","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Vorwäsche","topic":"Vorwäsche","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":470,"y":360,"wires":[]},{"id":"ebf6991b.ec8358","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Hauptwäsche","topic":"Hauptwäsche","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":480,"y":400,"wires":[]},{"id":"559534db.df5c84","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Spülen Spülstop","topic":"Spülen Spülstop","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":480,"y":440,"wires":[]},{"id":"3bd4ad95.de881a","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Pumpen Endschleudern","topic":"Pumpen Endschleudern","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":510,"y":480,"wires":[]},{"id":"7419a444.f36e8c","type":"mqtt out","z":"4a445b2c.06a9fc","name":"Ende","topic":"Ende","qos":"2","retain":"","broker":"87f2abcd.4d12e8","x":450,"y":520,"wires":[]},{"id":"f84484b2.705628","type":"inject","z":"4a445b2c.06a9fc","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"00 3 * * *","once":false,"x":70,"y":80,"wires":[["80e181aa.956a18","61202450.1c9d84","f5f91b27.0a69c8","c64633b8.bec418","3f37dadd.99ec8e","d4d9af89.15c2f","6328bad9.bfea0c","dbe3661a.622c3","45064b32.ae96dc","73847260.4f74b4","31f5aa29.6be186","5c49ac78.952294"]]},{"id":"80e181aa.956a18","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":80,"wires":[["353ae074.90e3a8"]]},{"id":"61202450.1c9d84","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":120,"wires":[["17e094e1.0e6b43"]]},{"id":"f5f91b27.0a69c8","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":160,"wires":[["aa1f0a41.cfcff"]]},{"id":"c64633b8.bec418","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":200,"wires":[["b7590a86.dc16c8"]]},{"id":"3f37dadd.99ec8e","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":240,"wires":[["8a6e7240.68768"]]},{"id":"d4d9af89.15c2f","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":280,"wires":[["159c1c80.7d035c"]]},{"id":"6328bad9.bfea0c","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"3.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":320,"wires":[["61f37646.d4b488"]]},{"id":"dbe3661a.622c3","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":360,"wires":[["6a1015b8.74ba2c"]]},{"id":"45064b32.ae96dc","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"4.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":400,"wires":[["ebf6991b.ec8358"]]},{"id":"73847260.4f74b4","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":440,"wires":[["559534db.df5c84"]]},{"id":"31f5aa29.6be186","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"5.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":480,"wires":[["3bd4ad95.de881a"]]},{"id":"5c49ac78.952294","type":"delay","z":"4a445b2c.06a9fc","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":520,"wires":[["7419a444.f36e8c"]]},{"id":"5dd5e623.ca9308","type":"inject","z":"4a445b2c.06a9fc","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":70,"y":480,"wires":[["80e181aa.956a18","61202450.1c9d84","f5f91b27.0a69c8","c64633b8.bec418","3f37dadd.99ec8e","d4d9af89.15c2f","6328bad9.bfea0c","dbe3661a.622c3","45064b32.ae96dc","73847260.4f74b4","31f5aa29.6be186","5c49ac78.952294"]]},{"id":"d50887df.dc0c6","type":"ui_button","z":"a5d864c8.237f9","name":"","group":"4e44d4bc.7b3b9c","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":240,"wires":[["26c77610.9c9f9a"]]},{"id":"26c77610.9c9f9a","type":"exec","z":"a5d864c8.237f9","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":478,"y":240,"wires":[[],[],[]]},{"id":"62135819.169","type":"ui_button","z":"a5d864c8.237f9","name":"","group":"4e44d4bc.7b3b9c","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":280,"wires":[["268dace.50cda54"]]},{"id":"268dace.50cda54","type":"exec","z":"a5d864c8.237f9","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":489.5,"y":302.25,"wires":[[],[],[]]}]